<!-- /header -->
<section class="wrapper bg-soft-primary">
    <div class="container pt-10 pb-12 pt-md-14 pb-md-16 text-center">
        <div class="row">
            <div class="col-md-7 col-lg-6 col-xl-5 mx-auto">
                <h1 class="display-1 mb-3">Enterprise</h1>
                <!--<p class="lead px-lg-5 px-xxl-8">Welcome to our journal. Here you can find the latest company news and business articles.</p>-->
            </div>
            <!-- /column -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->
<!-- /section -->
<section class="wrapper bg-light">
    <div class="container py-14 py-md-16">
        <div class="row gx-lg-8 gx-xl-12">
            <aside class="col-lg-2 sidebar">

                <!-- /.widget -->
                <div class="widget">
                    <h4 class="widget-title mb-3">Quick Links</h4>
                    <ul class="unordered-list bullet-primary text-reset">
                        <li><a href="#">Support</a></li>
                        <li><a href="#">Versioning Policy</a></li>
                        <li><a href="#">Security</a></li>
                        <li><a href="#">Professional Services</a></li>
                        <li><a href="#">Hosting Solutions</a></li>
                        <li><a href="#">Report a Bug</a></li>
                        
                    </ul>
                </div>
                <!-- /.widget -->
                <!-- /.widget -->
            </aside>

            <div class="col-lg-10">
                <div class="blog classic-view">
                    <article class="post">
                        <div class="card">
                            <!--<figure class="card-img-top overlay overlay1 hover-scale">
        <a href="blog-post.html"><img src="assets/img/photos/b1.jpg" alt="" /></a>
        <figcaption>
            <h5 class="from-top mb-0">Read More</h5>
        </figcaption>
    </figure>-->
                            <div class="card-body">
                                <div class="post-header">
                                    <h2 class="post-title mt-1 mb-0"><a class="link-dark" href="">Enterprise</a></h2>
                                    <br />

                                </div>
                                <!-- /.post-header -->
                                <div class="post-content">
                                    <p>PostgreSQL has a wide variety of community and commercial support options available for users, including:</p>

                                    <ul>
                                        <li><a href="#">Documentation</a></li>
                                        <li>The <a href="#">Community</a> section, which details the support options available to users from the PostgreSQL community</li>
                                        <li><a href="#">Mailing Lists</a></li>
                                        <li><a href="#">IRC</a></li>
                                        <li><a href="#">Slack</a></li>
                                    </ul>
                                    <p><a href="#">Commercial support</a> is also available from one of the many companies providing <a href="#">professional services</a> to the PostgreSQL community. A list of companies that provide <a href="#">PostgreSQL-specific hosting</a> is also available.</p>
                                </div>
                                <!-- /.post-content -->

                            </div>
                            <!--/.card-body -->

                            <div class="card-footer">
                               
                                    <div class="row gx-lg-8 gx-xl-12 align-items-center">
                                        <div class="col-lg-6 position-relative">

                                            <div class="overlap-grid overlap-grid-2">

                                                <img src="assets/img/photos/enterprise.png" alt="" width="100%">


                                            </div>
                                        </div>
                                        <div class="col-lg-6 position-relative">
                                            <h4>Bug Reporting</h4>
                                            <div class="post-content">
                                                <p>Found a bug in PostgreSQL? Please read over our <a href="#">bug reporting guidelines</a> and then report it using our <a href="#">bug reporting form</a>.</p>

                                                <p>
                                                    You can see previous bug reports, and track your own on the <a href="#">info@tigase.net</a> mailing list.
                                                </p>
                                            </div>
                                        </div>
                                    </div>


                            </div>



                            <!--<div class="card-footer">
                                <h4>Bug Reporting</h4>
                                <div class="post-content">
                                    <p>
                                        Found a bug in PostgreSQL? Please read over our <a href="#">bug reporting guidelines</a> and then report it using our <a href="#">bug reporting form</a>.

                                    </p>

                                    <p>
                                        You can see previous bug reports, and track your own on the <a href="#">info@tigase.net</a> mailing list.
                                    </p>

                                </div>
                            </div>-->
                            <!-- /.card-footer -->

                            <div class="card-footer">
                                <h4>Security Issue Reporting</h4>
                                <div class="post-content">
                                    <p>If you believe you have found a security issue, please send an email to <a href="#">info@tigase.net</a>.</p>

                                </div>
                            </div>



                        </div>
                        <!-- /.card -->
                    </article>

                </div>

            </div>
            <!-- /column -->
            <!-- /column .sidebar -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
</section>
<!-- /section -->