<div class="preloader-area">
    <div class="spinner">
        <div class="inner">
            <div class="disc"></div>
            <div class="disc"></div>
            <div class="disc"></div>
        </div>
    </div>
</div>


<div class="navbar-area">
    <div class="main-responsive-nav">
        <div class="container">
            <div class="main-responsive-menu">
                <div class="logo">
                    <a href="index.html">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="main-navbar">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light">
                <a class="navbar-brand" href="{{ site.url }}">
                    {%- if site.logo.path -%}
                    <img src="{{ site.url }}{{ site.logo.path }}" alt="image">
                    {%- else -%}
                    {{ site.title }}
                    {%- endif -%}
                </a>
                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                    {% if site.data.navigation.toc2[0] %}
                    {% for item in site.data.navigation.toc2 %}
                    {% if item.subfolderitems[0] %}
                    <ul class="navbar-nav m-auto">
                        {% for entry in item.subfolderitems %}
                        <li class="nav-item">
                            <a href="{{ entry.url }}" class="nav-link">
                                {{ entry.page }}<i class="ri-add-line"></i>
                            </a>
                            {% if entry.subsubfolderitems[0] %}
                            <ul class="dropdown-menu">
                                {% for subentry in entry.subsubfolderitems %}
                                <li class="nav-item"><a href="{{ subentry.url }}" class="nav-link">{{ subentry.page }}</a></li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="others-options d-flex align-items-center">

                        <div class="option-item">
                            <div class="side-menu-btn">
                                <i class="ri-menu-4-line" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>


    <!-- ################################################################################## -->
    <div class="others-option-for-responsive">
        <div class="container">
            <div class="dot-menu">
                <div class="inner">
                    <div class="circle circle-one"></div>
                    <div class="circle circle-two"></div>
                    <div class="circle circle-three"></div>
                </div>
            </div>
            <div class="container">
                <div class="option-inner">
                    <div class="others-options d-flex align-items-center">
                        <!--<div class="option-item">
                            <i class="search-btn ri-search-line"></i>
                            <i class="close-btn ri-close-line"></i>
                            <div class="search-overlay search-popup">
                                <div class='search-box'>
                                    <form class="search-form">
                                        <input class="search-input" name="search" placeholder="Search..." type="text">
                                        <button class="search-button" type="submit">
                                            <i class="ri-search-line"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                        </div>-->
                        <!--<div class="option-item">
                            <a href="contact.html" class="default-btn">Let’s Talk <i class="ri-message-line"></i><span></span></a>
                        </div>-->
                        <div class="option-item">
                            <div class="side-menu-btn">
                                <i class="ri-menu-4-line" data-bs-toggle="modal" data-bs-target="#sidebarModal"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebarModal modal right fade" id="sidebarModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-bs-dismiss="modal"><i class="ri-close-line"></i></button>
            <div class="modal-body">
                <div class="title">
                    <a href="#">
                        <img src="assets/images/logo.png" alt="logo">
                    </a>
                </div>
                <div class="sidebar-content">
                    <h3>About Us</h3>
                    <p style="text-align:justify;">Tigase is an open source project started by Artur Hefczyc in October 2004 to develop an XMPP server implementation in Java. Initially the goal was to develop a fully compliant XMPP server with backward compatibility with an informal XMPP specification.</p>
                    <!--<div class="sidebar-btn">
                    <a href="contact.html" class="default-btn">Let’s Talk <i class="ri-message-line"></i><span></span></a>
                    </div>-->
                </div>
                <div class="sidebar-contact-info">
                    <h3>Contact Information</h3>
                    <ul class="info-list">
                        <li><i class="ri-phone-fill"></i> <a href="tel:+14159004778">+1 (415) 900-4778</a></li>
                        <li><i class="ri-mail-line"></i> <a href="#"><span class="__cf_email__" data-cfemail="48202d242427083824272c662b2725">[email&#160;protected]</span></a></li>
                        <li>
                            <i class="ri-map-pin-line"></i> Tigase, Inc.
                            100 Pine Street, #1250<br />
                            San Francisco CA 94111<br />
                            USA
                        </li>
                    </ul>
                </div>
                <ul class="sidebar-social-list">
                    <li><a href="https://www.facebook.com/tigase" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                    <li><a href="https://twitter.com/tigase" target="_blank"><i class="ri-twitter-fill"></i></a></li>
                    <!--<li><a href="#" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                    <li><a href="#" target="_blank"><i class="ri-instagram-fill"></i></a></li>-->
                </ul>
            </div>
        </div>
    </div>
</div>
