<!-- <section class="wrapper bg-light">
    <div class="container pt-8 pt-md-14">
     <div class="row gx-lg-0 gx-xl-8 gy-10 gy-md-13 gy-lg-0 mb-7 mb-md-10 mb-lg-16 align-items-center">
        <div class="col-md-8 offset-md-2 col-lg-6 offset-lg-1 position-relative order-lg-2" data-cue="zoomIn" data-show="true" style="animation-name: zoomIn; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 0ms; animation-direction: normal; animation-fill-mode: both;">
          <div class="shape bg-dot primary rellax w-17 h-19" data-rellax-speed="1" style="top: -1.7rem; left: -1.5rem; transform: translate3d(0px, -26px, 0px);"></div>
         
          <figure class="rounded"></figure><img class="w-auto" src="{{ site.data.blogwithimg.sl1.path }}" 
            srcset="{{ site.data.blogwithimg.sl1.path }}"  alt="" /></figure>
        </div>
      
        <div class="col-lg-5 mt-lg-n10 text-center text-lg-start" data-cues="slideInDown" data-group="page-title" data-delay="600" data-disabled="true">
            <h2 class="fs-15 text-uppercase text-muted mb-3" style="opacity: 10;">{{ site.data.blogwithimg.title }}</h2>
            <h1 class="display-1 mb-5" data-cue="slideInDown" data-group="page-title" data-delay="600" data-show="true" style="animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 600ms; animation-direction: normal; animation-fill-mode: both;">{{ site.data.blogwithimg.title1 }}.</h1>
            <p class="lead fs-25 lh-sm mb-7 px-md-10 px-lg-0" data-cue="slideInDown" data-group="page-title" data-delay="600" data-show="true" style="animation-name: slideInDown; animation-duration: 700ms; animation-timing-function: ease; animation-delay: 900ms; animation-direction: normal; animation-fill-mode: both;">{{site.data.blogwithimg.description }}.</p>
    
        </div>
      
      </div>
    </div>
    
  </section> -->
<!-- /section -->
<!-- <div class="col-lg-8"> -->
    <!-- <div class="row row-cols-2 row-cols-md-4 gx-0 gx-md-8 gx-xl-12 gy-12">
        <div class="col">
            <figure class="px-3 px-md-0 px-xxl-2"><img src="{{ site.data.home[site.locale].header.sl14.path }}" alt=""></figure>
        </div>
     
        <div class="col">
            <figure class="px-3 px-md-0 px-xxl-2"><img src="{{ site.data.home[site.locale].header.sl15.path }}" alt=""></figure>
        </div>
      
        <div class="col">
            <figure class="px-3 px-md-0 px-xxl-2"><img src="{{ site.data.home[site.locale].header.sl16.path }}" alt=""></figure>
        </div>
     
        <div class="col">
            <figure class="px-3 px-md-0 px-xxl-2"><img src="{{ site.data.home[site.locale].header.sl17.path }}" alt=""></figure>
        </div>
       
        <div class="col">
            <figure class="px-3 px-md-0 px-xxl-2"><img src="{{ site.data.home[site.locale].header.sl18.path }}" alt=""></figure>
        </div>
       
        <div class="col">
            <figure class="px-3 px-md-0 px-xxl-2"><img src="{{ site.data.home[site.locale].header.sl19.path }}" alt=""></figure>
        </div>
      
        <div class="col">
            <figure class="px-3 px-md-0 px-xxl-2"><img src="{{ site.data.home[site.locale].header.sl20.path }}" alt=""></figure>
        </div>
      
        <div class="col">
            <figure class="px-3 px-md-0 px-xxl-2"><img src="{{ site.data.home[site.locale].header.sl21.path }}" alt=""></figure>
        </div>
       
    </div>
   
</div>  <section class="row gx-lg-8 gx-xl-12 gy-10 gy-lg-0">

    <div class="col-lg-4 mt-lg-2">
        <h2 class="fs-15 text-uppercase text-muted mb-3">Our Clients</h2>
        <h3 class="display-4 mb-3 pe-xxl-5">Trusted by over 300+ clients</h3>
        <p class="lead fs-lg mb-0 pe-xxl-5">We bring solutions to make life easier for our customers.</p>
    </div>

    <div class="col-lg-8">

        <div class="carousel owl-carousel clients" data-margin="30" data-loop="true" data-dots="false"
            data-autoplay="true" data-autoplay-timeout="3000" data-responsive='{"0":{"items": "2"}, "768":{"items": "4"}, "992":{"items": "5"}, 
             "1200":{"items": "6"}, "1400":{"items": "7"}}'>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl14.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl15.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl16.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl17.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl18.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl19.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl20.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl21.path }}" alt="" />
            </div>

            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl22.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl23.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl24.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl25.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl26.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl27.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl28.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl29.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl30.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl31.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl32.path }}" alt="" />
            </div>
            <div class="col">
                <img src="{{ site.data.home[site.locale].header.sl33.path }}" alt="" />
            </div>
        </div>

    </div>


</div>
</div>




    </section>-->